<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <header>
      <nav style="display: flex; justify-content: space-between">
        <div style="font-size: 40px">PLUMA</div>
        <div>
          <a href="login" style="margin-right: 20px" class="btn">Login</a>
          <a href="signup" class="btn">Sign Up</a>
        </div>
      </nav>
    </header>
    <main style="margin-bottom: 50px">
      <div style="text-align: center; margin-bottom: 50px">
        <img src="/public/banner.webp" width="90%" />
      </div>
      <div
        style="display: flex; justify-content: space-around; flex-wrap: wrap"
      >
        <img src="/public/image1.webp" height="400px" width="300px" />
        <img src="/public/image2.webp" height="400px" width="300px" />
        <img src="/public/image3.webp" height="400px" width="300px" />
        <img src="/public/image4.webp" height="400px" width="300px" />
      </div>
      <div
        style="display: flex; justify-content: space-around; flex-wrap: wrap"
      >
        <button>ADD TO CART</button>
        <button>ADD TO CART</button>
        <button>ADD TO CART</button>
        <button>ADD TO CART</button>
      </div>
    </main>
    <footer>
      made with &hearts; by PLUMA;<br />
      &copy of Pluma 1996-2023, Pluma.com, Inc. or its affiliates
    </footer>
  </body>
</html>
